body{
    background-color: rgb(59, 53, 59);
}

::-webkit-scrollbar {
    width: 0;
    background: transparent; 
}

.stats{
    display: flex;
    justify-content: space-between;
    margin: 3vh 5vw 3vh 5vw;
}

#vida{
    background-color: rgb(255, 177, 177);
    text-align: center;
    font-size: 4vh;
    border: none;
    resize: none;
    padding-top: 4vh;
    width: 40vw;
    border-radius: 1vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#mana{
    background-color: rgb(159, 206, 212);
    text-align: center;
    font-size: 4vh;
    border: none;
    resize: none;
    padding-top: 4vh;
    width: 40vw;
    border-radius: 1vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

input[type="radio"]{
    -webkit-appearance: none; /* For Webkit browsers */
    -moz-appearance: none; /* For Mozilla browsers */
    appearance: none;
    width: 3vh;
    height: 3vh;
    background-color: rgb(107, 95, 107);
    border: solid black 3px;
    border-radius: 50%;
}

input[type="radio"]:checked {
  background-color: black;;
  border: solid black 3px;
}

.modificador{
    background-color: rgb(107, 95, 107);
    padding: 3vh 4vw 3vh 4vw;
    margin-left: 5vw;
    margin-right: 5vw;
    justify-content: space-around;
    align-items: center;
    border-radius: 1vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.radio{
    display: flex;
    gap: 26vw;
    margin-bottom: 2vh;
}

label{
    font-size: 3vh;
    padding: 0px 0px 0px 2vw;
    font-family: monospace;
}

.modificador button{
    width: 13vw;
    height: 6vh;
    font-size: 4vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.modificador textarea{
    width: 70vw;
    height: 4.5vh;
    resize: none;
    text-align: center;
    font-size: 3vh;
    padding-top: 1vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.notes{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.notes details{
    margin: 3vh 5vw 0vh 5vw;
    width: 100vw;
    display: block;
    align-items: center;
}

.notes summary{
    display: flex;
    justify-content: space-around;
    background-color: rgb(107, 95, 107);
    align-items: center;
    height: 7vh;
    border-radius: 1vh;
    font-family: monospace;
    font-size: 3vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#notes{
    resize: none;
    border-radius: 1vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 75vw;
    padding: 5vw;
    font-size: 3vw;
    text-align: justify;
    margin-top: 3vh ;
    height: 30vh;
}

.uai{
    display: flex;
    gap: 1vw;
}

.dados button{
    width: 17vw;
    height: 17vw;
    border-radius: 1vh;
    font-family: monospace;
    font-size: 3vh;
    font-weight: bold;
    background-color: rgb(107, 95, 107);
    border: 0px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}

.dados button:hover{
    width: 17vw;
    height: 17vw;
    border-radius: 1vh;
    font-family: monospace;
    font-size: 3vh;
    font-weight: bold;
    background-color: rgba(107, 95, 107, 0.5);
    border: 0px;
}

.lin1{
    display: flex;
    justify-content: center;
    gap: 9vw;
    margin-top: 3vh;
}

.lin2{
    display: flex;
    justify-content: center;
    gap: 9vw;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.resultado{
    background-color: rgb(107, 95, 107);
    margin-left: 5vw;
    margin-right: 5vw;
    border-radius: 1vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

p{
    font-size: 3vh;
    font-family: monospace;
    padding-top: 1vh;
    padding-left: 4vw;
}

#resultado{
    font-size: 9vw;
    padding-bottom: 6vh;
    text-align: center;
    padding-top: 0px;
}

.teste{
    display: flex;
    justify-content: space-around;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-bottom: 3vh;
}

.teste button{
    width: 40vw;
    font-family: monospace;
    font-size: 3vh;
    border-radius: 1vh;
    height: 7vh;
    background-color: rgb(107, 95, 107);
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.teste button:hover{
    width: 40vw;
    font-family: monospace;
    font-size: 3vh;
    border-radius: 1vh;
    height: 7vh;
    background-color: rgba(107, 95, 107, 0.5);
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.pamonha{
    background-color: rgb(107, 95, 107);
    border-radius: 1vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: block;
    margin: 0vh 5vw 3vh 5vw;
    text-align: center;
    padding-top: 3vh;
}

.milho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1vh;
    text-align: center;
    margin-left: 4vw;
    margin-right: 4vw;
    margin-bottom: 1vh;
}

.dice{
    width: 7vh;
    height: 4.5vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.ab{
    width: 55vw;
    height: 4.5vh;
    resize: none;
    text-align: center;
    font-size: 3vh;
    padding-top: 1vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.milho button{
    width: 20vw;
    height: 6vh;
    font-size: 3vh;
    font-family: monospace;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-weight: bol;
    border: 0px;
}

.pamonha details{
    padding-bottom: 2vh;
}

.pamonha summary{
    margin-bottom: 1vh;
}

details textarea{
    resize: none;
    border-radius: 1vh;
    text-align: center;
    padding-top: 2.5vh;
    font-size: 2vh;
}

.pipoca{
    display: flex;
    justify-content: space-between;
    margin-left: 4vw;
    margin-right: 4vw;
    margin-bottom: 2vh;
}

.pica{
    display: flex;
    justify-content: space-evenly;
    margin-left: 5vw;
    margin-right: 5vw;

}

